/* custom properties (best practices) */

*,
*::before,
*::after{
    box-sizing: border-box;  /* the padding and border are included within the size of the element */
}

:root{
    --ff-primary:"Source Sans 3", serif;
    --ff-secondary:"Source Code Pro", serif;

    --fw-reg:300;
    --fw-bold:900;

    --clr-light:#fff;
    --clr-dark:#303030;
    --clr-accent:#16e0bd;

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;

    --bs: .25em .25em .75em rgba(0,0,0, .25 ),
           .125em .125em .25em rgb(0,0,0,.15);
}



@media (min-width: 800px) {
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;
    }
}

/* Mobile first design and tyrpography first then layout */
/* min width se tab tak apply hoga property jab tak min width se screen badi hai  */
/* media query uss propeerty ke baad aani chaiye jisko modify kar rahe, in this case it is font size */
/* design for 300 and up, 600 and up, 900 and up in media quaries */
/* set a background colour always with a background image (For Backup) */
/* pseudo elements will not display any visible thing without getting content */
/* Can use current color for a pseudo element */
/* + combinator se the elements having a sibling will get the property only */
/* display inline block is useful to retain block level properties like height and widht while making the element inline. */
/* :focus applies to an element when it is focused, such as when an input field, button, or link is selected (clicked or navigated to using the keyboard, typically with the Tab key). */


/* general styles */

body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

section{
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong{ font-weight: var(--fw-bold);}

:focus{
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* buttons */

.btn {
    display: inline-block;
    padding: 0.5em 2.5em;
    background: var(--clr-accent);
    text-decoration: none;
    color: var(--clr-dark);
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-out;
    cursor: pointer;
}

.btn:hover{
    transform: scale(1.1);
}

/* typography */

h1,
h2,
h3{
    line-height: 1.6;  /*line height of 1.6 is recommended */
    margin: 0;
}

h1{ font-size: var(--fs-h1); }
h2{ font-size: var(--fs-h2); }
h3{ font-size: var(--fs-h3); }


.section__title {
    margin: .25em;
}

.section__title--intro{
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about{
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: .25em .5em;
    margin-bottom: 1em;
}

/* main website ka code  */

/* header */

nav { display: none;}


/* intro section */

.intro {
    position: relative;
}

.intro__img {
    box-shadow: var(--bs);
}

.section__subtitle--intro{
    display: inline-block;
}

@media (min-width:600px) {
    .intro{
        display: grid;
        column-gap: 1em;
        width: min-content;
        margin: 0 auto;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }    

    .intro__img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section__subtitle--intro{
        align-self: self-start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}


/* my services section */

.myServices {
    background: var(--clr-dark);
    background-image: url(assests/bg_service.png);
    background-size: cover;
    color: var(--clr-light);
    text-align: center;
}

.section__title--services{
    color: var(--clr-accent);
    position: relative;
}

.section__title--services::after{
    content: '';
    display: block;
    width: 2em;
    background:var(--clr-light);
    height: 1px;
    margin: 0.5em auto 1em;
    opacity: .25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

.services{
    margin-bottom: 4em;
}

@media (min-width: 800px) {
    .services{
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}